* {
    box-sizing: border-box;
    text-align: center;
}

html {
    line-height: 1.5;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background: rgb(74, 34, 82);
    background: linear-gradient(90deg, rgba(74, 34, 82, 1) 18%, rgba(6, 44, 82, 1) 86%);
}

img {
    width: 100%;
    object-fit: cover;
}