.Toolbar {
    justify-self: center;
    width: 100%;
    color: white;
}

.upload-img {
    display: none;
    position: absolute;
    top: 25%;
    left: 30%;
    translate: -50% -50%;
}

.x {
    position: absolute;
    left: -2em;
    top: 0.2em;
}

.download {
    color: black;
}

.size {
    color: white;
}

.italic {
    color: gray;
}

.Toolbar button,
select {
    border-radius: 10px;
}

.last button:hover,
.delete:hover {
    animation: grow 500ms alternate infinite;
}

.add-text button:hover,
.size button:hover {
    color: rgb(82, 122, 122);
}

@keyframes grow {
    100% {
        scale: 1.3;
    }
}