.Toolbar {
    justify-self: center;
    width: 100%;
}

.upload-img {
    display: none;
    /* background-color: rgb(129, 96, 96); */
    /* width: 350px; */
    /* height: 350px; */
    position: absolute;
    top: 25%;
    left: 50%;
    translate: -50% -50%;
}